name: stream

on:
  push:
    branches:
      - main
    paths:
      - "packages/stream/**"
  pull_request:
    branches:
      - main
    paths:
      - "packages/stream/**"
      - ".github/workflows/stream.yml"
jobs:
  check:
    name: Typecheck
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version:
          - 16
        project:
          - stream
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup node ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        uses: bahmutov/npm-install@v1
        with:
          working-directory: ${{matrix.project}}
          useLockFile: false
          install-command: yarn

      - name: Typecheck
        uses: gozala/typescript-error-reporter-action@v1.0.8
        with:
          project: packages/${{matrix.project}}/tsconfig.json
  test-node:
    name: Test Node
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        node-version:
          - 14
          - 16
        os:
          - ubuntu-latest
          - windows-latest
          - macos-latest
        project:
          - stream

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        uses: bahmutov/npm-install@v1

      - name: Test (ES)
        run: yarn --cwd packages/${{matrix.project}} test:es

      - name: Test (CJS)
        run: yarn --cwd packages/${{matrix.project}} test:cjs
  test-web:
    name: Test Web
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version:
          - 16
        project:
          - stream

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: 16

      - name: Install dependencies
        uses: bahmutov/npm-install@v1

      - name: Test (Web)
        run: yarn --cwd packages/${{matrix.project}} test:web
